<!DOCTYPE html>
<html>
    <head>
        <title> Names - Add </title>
    </head>
    <body>
        <h1> Add New Name </h1>
        <form action="/names/insert" method="get">
             Common Name: <input name = "common_name" type="text"/>
             Scientific Name: <input name = "scientific_name" type="text"/>
            <br />
            <input type = "submit"/>
        </form>
    </body>
</html>