<!DOCTYPE html>
<html>
<head>
    <title> Names - View All</title>
    <style>
        body {
            background-color: mediumaquamarine;
        }
    </style>
</head>
    <body>
        <h1><a href="/names/add">Names</a></h1>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Scientific Name</th>
                <th>Actions</th>
            </tr>
            <% for(var i=0; names.length > i; i++ ) { %>
                <tr>
                    <td><%= names[i].common_name %></td>
                    <td><%= names[i].scientific_name %></td>
                     <td>
                         <a href='/names/edit/?name_id=<%= names[i].name_id %>'>
                         Edit
                         </a>
                        &nbsp;<a href="/names/delete?name_id=<%= names[i].name_id %>">
                            Delete
                        </a>
                    </td>
                </tr>
            <% } %>
        </table>
    </body>
</html>