<!DOCTYPE html>
<html>
    <head>
        <title> Location - Edit</title>
    </head>
    <body>
        <h1> Edit Location </h1>
        <form action="/location/update" method="get" >

         <input type="hidden"
                 id="location_id"
                 name="location_id"
                 value="<%= location.location_id %>"
            />
            <br />

            City: <input
                    id = "city"
                    name = "city"
                    type= "text"
                    value="<%= location.city %>"
            />
            <br />

            County: <input
                    id = "county"
                    name = "county"
                    type= "text"
                    value="<%= location.county %>"
            />
            <br />
            <input type="submit" />
        </form>
    </body>
</html>