<!DOCTYPE html>
<html>
    <head>
        <title> Location - Add </title>
    </head>
    <body>
        <h1> Add New Location </h1>
        <form action="/location/insert" method="get">
             City: <input name = "city" type="text"/>
             County: <input name = "county" type="text"/>
            <br />
            <input type = "submit"/>
        </form>
    </body>
</html>