<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: mediumaquamarine;
        }
    </style>
</head>
    <body>
           <h1>Group By Query</h1>
           <table border="1">
               <tr>
                   <th>Amount</th>
                   <th>Classification</th>
               </tr>
               <% for(var i=0; result.length > i; i++ ) { %>
                   <tr>
                       <td><%= result[i].amount %></td>
                       <td><%= result[i].classification %></td>
                   </tr>
               <% } %>
           </table>
           <p> SELECT COUNT(type_id) AS Amount, classification
               FROM type
               GROUP BY classification; </p>
           <p> This query will count the amount of types of plant and return the frequency and classification </p>
    </body>
</html>