<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: mediumaquamarine;
        }
    </style>
</head>
    <body>
           <h1>Union Query</h1>
           <table border="1">
               <tr>
                   <th>Name ID</th>
               </tr>
               <% for(var i=0; result.length > i; i++ ) { %>
                   <tr>
                       <td><%= result[i].name_id %></td>
                   </tr>
               <% } %>
           </table>
           <p> SELECT name_id FROM names
               UNION
               SELECT name_id FROM plant; </p>
           <p> This query will create a union between the names and plant table and return a list of name ID's </p>