<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> <%= subtitle%></p>
    <br /><a href="/location/all">View Locations</a>
    <br /><a href="/names/all">View Names</a>
    <br /><a href="/plant/all">View Plants</a>
    <br /><a href="/type/all">View Types</a>
    <br /><a href="/SQL_scripts/in">View In Query</a>
    <br /><a href="/SQL_scripts/correlated">View Comparing Correlated Query</a>
    <br /><a href="/SQL_scripts/distinct">View Distinct Query</a>
    <br /><a href="/SQL_scripts/doublejoinhaving">View Double Join Having Group By Query</a>
    <br /><a href="/SQL_scripts/existscorrelated">View Exists Correlated Query</a>
    <br /><a href="/SQL_scripts/groupby">View Group By Query</a>
    <br /><a href="/SQL_scripts/orderby">View Order By Query</a>
    <br /><a href="/SQL_scripts/union">View Union Query</a>
  </body>
</html>
