<!DOCTYPE html>
<html>
    <head>
        <title> Type - Add </title>
    </head>
    <body>
        <h1> Add New Type </h1>
        <form action="/type/insert" method="get">
             Classification: <input name = "classification" type="text"/>
             Description: <input name = "description" type="text"/>
            <br />
            <input type = "submit"/>
        </form>
    </body>
</html>