<!DOCTYPE html>
<html>
    <head>
        <title> Plant - Add </title>
    </head>
    <body>
        <h1> Add New Plant </h1>
        <form action="/plant/insert" method="get">
             Plant kingdom: <input name = "plant_kingdom" type="text"/>
             Common name: <input name = "common_name" type="text"/>
             Scientific name: <input name = "scientific_name" type="text"/>
            <br />
            <input type = "submit"/>
        </form>
    </body>
</html>